src/main/xsd/xsd0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://wcf.dian.colombia"
    xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://wcf.dian.colombia">
    <xs:import schemaLocation="./xsd2.xsd"
        namespace="http://schemas.datacontract.org/2004/07/ExchangeEmailResponse" />
    <xs:import schemaLocation="./xsd3.xsd"
        namespace="http://schemas.datacontract.org/2004/07/DianResponse" />
    <xs:import schemaLocation="./xsd5.xsd"
        namespace="http://schemas.datacontract.org/2004/07/UploadDocumentResponse" />
    <xs:import schemaLocation="./xsd7.xsd"
        namespace="http://schemas.datacontract.org/2004/07/NumberRangeResponseList" />
    <xs:import schemaLocation="./xsd9.xsd"
        namespace="http://schemas.datacontract.org/2004/07/EventResponse" />
    <xs:import schemaLocation="./xsd10.xsd"
        namespace="http://schemas.datacontract.org/2004/07/DocIdentifierWithEventsResponse" />
    <xs:element name="GetExchangeEmails">
        <xs:complexType>
            <xs:sequence />
        </xs:complexType>
    </xs:element>
    <xs:element name="GetExchangeEmailsResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="GetExchangeEmailsResult" nillable="true"
                    type="q1:ExchangeEmailResponse"
                    xmlns:q1="http://schemas.datacontract.org/2004/07/ExchangeEmailResponse" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetStatus">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="trackId" nillable="true" type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetStatusResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="GetStatusResult" nillable="true"
                    type="q2:DianResponse"
                    xmlns:q2="http://schemas.datacontract.org/2004/07/DianResponse" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetStatusZip">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="trackId" nillable="true" type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetStatusZipResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="GetStatusZipResult" nillable="true"
                    type="q3:ArrayOfDianResponse"
                    xmlns:q3="http://schemas.datacontract.org/2004/07/DianResponse" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetStatusEvent">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="trackId" nillable="true" type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetStatusEventResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="GetStatusEventResult" nillable="true"
                    type="q4:DianResponse"
                    xmlns:q4="http://schemas.datacontract.org/2004/07/DianResponse" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="SendBillAsync">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
                <xs:element minOccurs="0" name="contentFile" nillable="true" type="xs:base64Binary" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="SendBillAsyncResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="SendBillAsyncResult" nillable="true"
                    type="q5:UploadDocumentResponse"
                    xmlns:q5="http://schemas.datacontract.org/2004/07/UploadDocumentResponse" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="SendTestSetAsync">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
                <xs:element minOccurs="0" name="contentFile" nillable="true" type="xs:base64Binary" />
                <xs:element minOccurs="0" name="testSetId" nillable="true" type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="SendTestSetAsyncResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="SendTestSetAsyncResult" nillable="true"
                    type="q6:UploadDocumentResponse"
                    xmlns:q6="http://schemas.datacontract.org/2004/07/UploadDocumentResponse" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="SendBillSync">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
                <xs:element minOccurs="0" name="contentFile" nillable="true" type="xs:base64Binary" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="SendBillSyncResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="SendBillSyncResult" nillable="true"
                    type="q7:DianResponse"
                    xmlns:q7="http://schemas.datacontract.org/2004/07/DianResponse" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="SendBillAttachmentAsync">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
                <xs:element minOccurs="0" name="contentFile" nillable="true" type="xs:base64Binary" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="SendBillAttachmentAsyncResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="SendBillAttachmentAsyncResult" nillable="true"
                    type="q8:UploadDocumentResponse"
                    xmlns:q8="http://schemas.datacontract.org/2004/07/UploadDocumentResponse" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="SendEventUpdateStatus">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="contentFile" nillable="true" type="xs:base64Binary" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="SendEventUpdateStatusResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="SendEventUpdateStatusResult" nillable="true"
                    type="q9:DianResponse"
                    xmlns:q9="http://schemas.datacontract.org/2004/07/DianResponse" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="SendNominaSync">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="contentFile" nillable="true" type="xs:base64Binary" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="SendNominaSyncResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="SendNominaSyncResult" nillable="true"
                    type="q10:DianResponse"
                    xmlns:q10="http://schemas.datacontract.org/2004/07/DianResponse" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetNumberingRange">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="accountCode" nillable="true" type="xs:string" />
                <xs:element minOccurs="0" name="accountCodeT" nillable="true" type="xs:string" />
                <xs:element minOccurs="0" name="softwareCode" nillable="true" type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetNumberingRangeResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="GetNumberingRangeResult" nillable="true"
                    type="q11:NumberRangeResponseList"
                    xmlns:q11="http://schemas.datacontract.org/2004/07/NumberRangeResponseList" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetXmlByDocumentKey">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="trackId" nillable="true" type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetXmlByDocumentKeyResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="GetXmlByDocumentKeyResult" nillable="true"
                    type="q12:EventResponse"
                    xmlns:q12="http://schemas.datacontract.org/2004/07/EventResponse" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetDocIdentifierWithEvents">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="contributorCode" nillable="true" type="xs:string" />
                <xs:element minOccurs="0" name="dateNumber" nillable="true" type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetDocIdentifierWithEventsResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="GetDocIdentifierWithEventsResult" nillable="true"
                    type="q13:DocIdentifierWithEventsResponse"
                    xmlns:q13="http://schemas.datacontract.org/2004/07/DocIdentifierWithEventsResponse" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetReferenceNotes">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="trackId" nillable="true" type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetReferenceNotesResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="GetReferenceNotesResult" nillable="true"
                    type="q14:DianResponse"
                    xmlns:q14="http://schemas.datacontract.org/2004/07/DianResponse" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>