src/main/xsd/xsd7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified"
    targetNamespace="http://schemas.datacontract.org/2004/07/NumberRangeResponseList"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="http://schemas.datacontract.org/2004/07/NumberRangeResponseList">
    <xs:import schemaLocation="xsd8.xsd"
        namespace="http://schemas.datacontract.org/2004/07/NumberRangeResponse" />
    <xs:complexType name="NumberRangeResponseList">
        <xs:sequence>
            <xs:element minOccurs="0" name="OperationCode" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="OperationDescription" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="ResponseList" nillable="true"
                type="q1:ArrayOfNumberRangeResponse"
                xmlns:q1="http://schemas.datacontract.org/2004/07/NumberRangeResponse" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="NumberRangeResponseList" nillable="true" type="tns:NumberRangeResponseList" />
</xs:schema>